body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

h1,
h2,
body,
p {
  margin: 0;
}

main {
  transform: scale(1.2);
  background-color: hsl(216, 50%, 16%);
  height: 530px;
  width: 300px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.main-img {
  width: 92%;
  height: 55%;
  align-self: center;
  border-radius: inherit;
  margin-top: 10px;
}

h1 {
  font-size: 20px;
  color: white;
  padding: 20px 15px 15px 10px;
}

p {
  font-size: 16px;
  line-height: 22px;
  padding: 0 15px 8px 10px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.price {
  display: flex;
  padding: 0 0 0 10px;
  justify-content: space-between;
}

.price h2 {
  font-size: 15px;
  color: cyan;
}

.icons {
  padding: 16px 5px 0 0;
  transform: translateY(3px);
}

hr {
  width: 90%;
  border-color: hsl(215, 32%, 27%);
  margin: 10px auto;
}

.last {
  display: flex;
  box-sizing: border-box;
  padding: 5px 0 0 15px;
}

.avatar {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
}

.white {
  color: white;
}
